<div class="container hero is-medium is-primary is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title center">
          Add a good...
        </h1>
        <h2 class="subtitle">
          Add something below that you are grateful for.  It could be a relationship, a physical object or a memmroy.  It can be anything....
        </h2>
        <div class="field">
          <label class="label">I'm grateful for...</label>
          <div class="control">
            <input #nameField class="input" type="text" placeholder="e.g my dog skip">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Because...</label>
          <div class="control">
            <input #becauseField  class="input" type="text" placeholder="e.g. he was my best friend as a child">
          </div>
        </div>
        <div class="control">
          <button class="button is-primary" (click)="createItem(nameField.value, becauseField.value)">Submit</button>
          <a routerLink="/"><button class="button is-info">Cancel</button></a>
        </div>
      </div>
    </div>
</div>
