.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.name {
  font-size: medium;
  font-weight: 900;
}

.grateful-list-item {
  display: inline;
}

.name {
    align-content: center;
}

.grateful-input {
  margin-right: 16px;
}