.center {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.name {
  font-size: medium;
  font-weight: 900;
}

.grateful-list-item {
  display: inline;
  display: flex;
  justify-content: center;
}

.name {
    align-content: center;
}

.grateful-input {
  margin-right: 16px;
}

.icon {
  margin-right: 16px;
}

.img {
  height: 25px;
  width: 25px;
}

table, th, td {
  border: 5px solid black;
}