.center {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.name {
  font-size: medium;
  font-weight: 900;
  align-content: center;
}

.grateful-list-item {
  margin: auto;
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
}

.grateful-input {
  margin-right: 16px;
}

.icon {
  margin-right: 16px;
}

.img {
  height: 100%;
  width: 100%;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container > div
{
    display: inline-block;
    height: 80%;
}
.container
{
  width: 80%;
  position: relative;
}

.list-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info {
  width: 70%;
}

.hero {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.control {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
